{% extends 'base.html' %}

{% block content %}
<h1>{{ leccion.nombre }}</h1>

<div style="display: flex; justify-content: space-between; padding: 20px;">
    <!-- Editor de Código -->
    <div style="width: 50%;">
        <h2>Editor de Código</h2>
        <textarea id="code-editor">{{ leccion.codigo }}</textarea>
        <button id="run-code">Ejecutar</button>
    </div>

    <!-- Explicación de la Lección -->
    <div id="explicacion" style="width: 45%; background-color: #1e1e1e; padding: 20px; border-radius: 8px; color: white;">
        <h2>Explicación de la Lección</h2>
        <p id="explicacion-leccion">{{ leccion.explicacion }}</p>
    </div>
</div>

<div id="output" style="margin-top: 20px; color: white; text-align: center; border: 1px solid white; padding: 10px; min-height: 50px;"></div>

{% if siguiente_id is not none %}
<div style="text-align: center; margin-top: 20px;">
    <a href="{{ url_for('leccion', leccion_id=siguiente_id) }}">
        <button style="padding: 10px 20px; font-size: 16px; background-color: #28a745; color: white; border: none; cursor: pointer;">
            Siguiente Lección
        </button>
    </a>
</div>
{% endif %}

<script>
    $(document).ready(function() {
        var editor = CodeMirror.fromTextArea(document.getElementById('code-editor'), {
            lineNumbers: true,
            mode: 'python',
            theme: 'dracula',
            indentUnit: 4,
            matchBrackets: true,
            autoCloseBrackets: true
        });

        editor.setSize('100%', '400px');


        $('#run-code').click(function() {
            const code = editor.getValue();
            $.ajax({
                url: '/ejecutar',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ codigo: code }),
                success: function(response) {
                    $('#output').html(response.resultado + response.error);
                    if (response.chat_response) {
                        $('#explicacion-leccion').append("<h3>Consejos de ChatGPT:</h3><p>" + response.chat_response + "</p>");
                    }
                },
                error: function() {
                    $('#output').html('<div style="color: red;">Error en la solicitud.</div>');
                }
            });
        });
    });
</script>
{% endblock %}
